<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.consumingrest.common.mapper.FileMapper">

    <select id="list" resultType="hashmap">
        SELECT * 
          FROM file
         ORDER BY reg_date DESC
    </select>
    
    <select id="one" parameterType="hashmap" resultType="map">
        SELECT * 
          FROM file 
         WHERE name LIKE '%' || #{name}  || '%'
    </select>
    
    <insert id="insert" parameterType="hashmap">
        <selectKey keyProperty="seq" resultType="int" order="AFTER">
        SELECT CURRVAL('file_seq')
        </selectKey>
        INSERT INTO file
        	(name, 
        	 path, 
        	 extents,
        	 <if test='api_compent != null and api_compent != ""'>
        	 api_compent,
        	 </if>
        	 reg_date) 
        VALUES
        	(#{name}, 
        	 #{path},
        	 #{extents},
        	 <if test='api_compent != null and api_compent != ""'>
        	 #{api_compent},
        	 </if> 
        	 NOW())
    </insert>
    
    <update id="delite" parameterType="hashmap">
        DELETE FROM file
        WHERE name = #{name}  
    </update>
    
</mapper>