<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.consumingrest.api.mapper.UserMapper">

    <select id="selectList" resultType="hashmap">
        SELECT * 
          FROM member
         WHERE use_yn = 'Y' 
         ORDER BY reg_date DESC
    </select>
    
    <select id="selectOne" parameterType="hashmap" resultType="map">
        SELECT * 
          FROM member 
         WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="hashmap">
        INSERT INTO member
        	(id, 
        	 name, 
        	 comment, 
        	 reg_date,
        	 use_yn) 
        VALUES
        	(#{id}, 
        	 #{name}, 
        	 #{comment}, 
        	 NOW(),
        	 'Y')
    </insert>
    
    <update id="update" parameterType="hashmap">
        UPDATE member SET
        	name = #{name},
        	comment = #{comment}, 
        	upd_date = NOW()
        WHERE id = #{id}  
    </update>
    
    <update id="delite" parameterType="hashmap">
        UPDATE member SET
        	use_yn = 'N'
        WHERE id = #{id}  
    </update>
    
</mapper>